.App {
  text-align: center;
  /* background-color: black; */
  width: 100%;
  background-image: url(https://wallpaperbat.com/img/501762-simple-dark-google-colors-rubber-bands-desktop-wallpaper.jpg);
height: 780px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  /* background-color: black; */
  color: wheat;
}


.list{
  display: flex ;
}

.items{
  margin-right: 20px;
  margin-right: 50px;

}

li{
  font-size: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (min-width:750px){
  form {
    width: calc(100vw / 3);
  }
}

.fade-out {
  animation: fadeOut ease 2s;
}

@keyframes fadOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



.window{
display: flex;
justify-content: center;
width: 20%;
margin-left: 650px;
height: 450px;
margin-top: 50px;


}


.item{
 
color: black;
margin-right: 80px;
margin-top: 100px;
margin-left: -230px;
display: flex;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}


.name{
  color: black;
margin-right: 200px;
margin-top: 230px;
margin-left: -1px;
display: flex;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
